<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Itpastatuscode"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://app.fglife.in/TPAMedicalDataEntry/Itpastatuscode.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Itpastatuscode" contract="TPASTATUSCODE.Itpastatuscode" name="BasicHttpBinding_Itpastatuscode"/>
        </client>
    </system.serviceModel>
</configuration>
