<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TransactiondbLF" value="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=transactiondbLF;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding"/>
        <binding name="BasicHttpBinding_IHITPA_PIMS">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.1.41.193:9080/FG_SMSService_MMWeb/sca/FG_SMSService_WSExport" binding="basicHttpBinding" bindingConfiguration="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding" contract="esbSendSMSSvc.FGSMSServiceBPMIntf" name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpPort"/>
      <endpoint address="https://www.healthcare-india.com/PIMS_API/HITPA_PIMS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHITPA_PIMS" contract="TPARegisteration.IHITPA_PIMS" name="BasicHttpBinding_IHITPA_PIMS"/>
    </client>
  </system.serviceModel>
</configuration>
