<?xml version="1.0" encoding="utf-8"?>
<!--
 For more information on how to configure your ASP.NET application, please visit
   ************************************************************************************************************************************
COMMENT ID: 1
COMMENTOR NAME :Amit Chaudhary
METHODE/EVENT:
REMARK: NEW CONNECTION STRING ADDED TO POINT LOMBARDISCYNCDEV .
DateTime :22JAN17
*********************************************************************************************************************************
*********************************************************************************************************************************
   ************************************************************************************************************************************
COMMENT ID: 2
COMMENTOR NAME :Akshada N Wagh
METHODE/EVENT:
REMARK: New Parameters added for CR 26273 Reinstatment Email and SMS Communications
DateTime :05June2020
*********************************************************************************************************************************
************************************************************************************************************************************
COMMENT ID:3
COMMENTOR NAME : Akshada N Wagh
REMARK:Changes done For Consent Letter CR 28153
DateTime :02/09/2020
*********************************************************************************************************************************
************************************************************************************************************************************
COMMENT ID:4
COMMENTOR NAME : Brijesh Pandey [MFL00464]
REMARK: CR - 30461- NB Data for risk scoring Model
DateTime :07/07/2021
*********************************************************************************************************************************
************************************************************************************************************************************
COMMENT ID:5
COMMENTOR NAME : Sagar Thorave [MFL0086]
REMARK: CR - 30573 add riskflag values and user
DateTime :08/03/2022
*********************************************************************************************************************************
************************************************************************************************************************************
COMMENT ID:6
COMMENTOR NAME : Sagar Thorave [MFL0086]
REMARK: CR -30554 Add EnyRiskScore and RiskScre
DateTime :14/09/2022
*********************************************************************************************************************************

  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="VirtualPath" value="http://deqc.futuregenerali.in/SaralUW/Video/" />
    <!--<add key="VirtualPathlocal" value="http://deqc.futuregenerali.in/SaralUW/Video/"/>-->
    <!--<add key="transactiondbLF" value="Data Source=MUMHOIBPMDB04;Initial Catalog=transactiondbLF;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>-->
    <add key="transactiondbLF" value="Data Source=10.8.41.109;Initial Catalog=transactiondbLF;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add key="transactiondbLFTPA" value="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=TransactiondbLFTPA;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add key="Lombardimatersync" value="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=Lombardimatersync;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add key="replica" value="Data Source=192.168.51.42;Initial Catalog=OnlineSales_REP;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add key="FGLICRM" value="Data Source=10.10.3.71,21443;Initial Catalog=FGLICRM;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add key="LF_MOBILEConnectionString" value="Data Source=10.10.3.71,21443;Initial Catalog=FGLIPlatform;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add key="usergroup" value="DOCQC" />
    <!--added by shri on 31 aug 17-->
    <!--<add key="DocUploadPath" value="D:\UWSaralProject\Documents\"/>-->
    <add key="DocUploadPath" value="C:\shri\test\" />
    <!--end here-->
    <add key="FileExtentions" value=".pdf .png .jpeg .jpg .xlsx" />
    <!--FileExtentions splited with space in code behind-->
    <add key="ServiceTax" value="0.18" />
    <!--added by shri on 24 aug to redirect from bpm-->
    <add key="transactiondbLFBPMAcess" value="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=POSTXDB;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add key="CON_LBPMDBLF" value="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=LBPMDB;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add key="cnLombardimatersync" value="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=Lombardimatersync;User ID=adminsa;Password=C0n+r01@r" />
    <!--added by shri on 10 aug 17 to show path of dms agent sign and docs-->
    <add key="AgentSignPath" value="http://dms.futuregenerali.in:9080/omnidocs/integration/foldView/viewFoldList.jsp?Application=Future_Generali&amp;DataClassName=Future_Generali&amp;DC.Application_NO=" />
    <add key="ApplicationFilePath" value="http://dms.futuregenerali.in:9080/omnidocs/integration/foldView/viewFoldList.jsp?Application=Future_Generali&amp;DataClassName=Future_Generali&amp;DC.Application_NO=" />
    <!--added by shri on 10 aug 17 to add dms file-->
    <!--<add key="GETIMAGE" value="http://mumhoidmsprd01.fgi.ad:9080/omnidocs/integration/foldView/viewFoldList.jsp?Application=Future_Generali&amp;DataClassName=Future_Generali&amp;DC.Application_NO"/>-->
    <!--<add key="GETIMAGE" value="http://dmslfpreprod.futuregenerali.in:8080/omnidocs/WebApiRequestRedirection?Application=FutureGenerali&amp;cabinetName=FG&amp;sessionIndexSet=false&amp;DataClassName=Future_Generali&amp;DC.Application_no"/>-->
    <!--Change below value to new link shared by mukul for new DMS upgradation,Suraj-->
    <!--<add key="GETIMAGE" value="https://dms.futuregenerali.in:8443/omnidocs/WebApiRequestRedirection?Application=FutureGenerali&amp;cabinetName=FG&amp;sessionIndexSet=false&amp;DataClassName=Future_Generali&amp;DC.Application_no"/>-->
    <!--Change below value to new link shared by shamsher/vikrant for download document option from dms-->
    <add key="GETIMAGE" value="https://dms.futuregenerali.in:8443/omnidocs/WebApiRequestRedirection?Application=UWDOCView&amp;cabinetName=FG&amp;sessionIndexSet=false&amp;DataClassName=Future_Generali&amp;DC.Application_no" />
    <add key="DOCKEY" value="&amp;DC.Document_Type=" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="AmlInline" value="[OnlineSales_REP].[dbo].LeadDocument" />
    <!--added by shri on 30 aug 17 to add policy enquiry-->
    <add key="PolicyEnquiry" value="http://service.fglife.in/POLENQBOE/BPMAccess.aspx?Taskid=D33D6A42-7C29-49A6-9644-4B4FB7FA328D" />
    <!--added by shri on 13 jan 18 to add adhar verification-->
    <add key="Ekey" value="UF530Dt5rG5hkPhSy8R3IRdj7Nx3j55t" />
    <add key="Username" value="TestAdmin" />
    <add key="Password" value="TestAdmin@1" />
    <!--added by swapnil on 13 july 18 to display member docs on grpUWDecision -->
    <!--<add key="DocUrlPath" value="http://10.1.41.185/FGGPPDocs/"/>-->
    <add key="DocUrlPath" value="https://online.futuregenerali.in/FGGPPDocs/" />
    <!--end here-->
    <!--added by AJAY on 14 Feb 19 to add Plvc Video-->
    <add key="PlvcVideo" value="http://mumhoimoblf02/FGMB/PlvcWebAppUW/Plvc/DashboardAccRejCases?AppNo=" />
    <add key="PlvcVideoAll" value="http://mumhoimoblf02/FGMB/PlvcAppUWAll/Plvc/DashboardAccRejCases?AppNo=" />
    <!--<add key="PlvcVideo" value="https://aulife.futuregenerali.in/FGMB/LF.MB.PLVCApi?AppNo="/>-->
    <add key="TPASourcePath" value="\\10.1.42.35\uw_tp\VIDEO FILE" />
    <add key="IsNSAP" value="1" />
    <add key="SignatureCode" value="SEN" />
    <add key="ReinsurerCode" value="RHR" />
    <!--<add key="TPASourcePath" value="ftp://10.1.42.35/uw_tp/VIDEO FILE/"/>-->
    <add key="HODId" value="F1130654,F1130654" />
    <!--end here-->
    <!--########################## Added by Shweta Starts ###########################################-->
    <add key="Environment" value="UAT" />
    <add key="FolderPathRequest" value="~/RequestFiles" />
    <add key="FolderPathZip" value="~/ZipFiles" />
    <add key="FolderPathCSVFiles" value="~/ResponseCSVFiles" />
    <add key="UsernameIIB" value="HiORmC4yOu0QaxAVYTmefa02Drn4P5Ww" />
    <add key="PasswordIIb" value="rMXgZSvb2VSPPpwM1PymQ8p2DhAPZP0MXxY/kz3+QZg=" />
    <add key="AuthenticatedToken" value="" />
    <!--########################## Added by Shweta End ###########################################-->
    <!--########################## VAPT POint-5 Added by Shyam Starts ###########################################-->
    <add key="CommentsCount" value="50" />
    <!--########################## Added by Shyam End ###########################################-->
    <!--########################## Added by Shyam Starts ###########################################-->
    <add key="SqlPOSTDEVConnectionString" value="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=POSTXDB_DEV;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add key="CarrierCode" value="2" />
    <add key="UserRole" value="10" />
    <add key="UserId" value="rpandya" />
    <add key="Branch" value="BOR" />
    <!--########################## Added by Shyam End ###########################################-->
    <!--########################## ID 2.1 Begin of Changes CR 26273;Akshada ###########################################-->
    <add key="SMSCommunication" value="SMS" />
    <add key="SMSCommunicationKey" value="SMS" />
    <add key="EmailCommunication" value="EMAIL" />
    <add key="Mode" value="UW" />
    <add key="Flag1" value="01" />
    <add key="Flag2" value="02" />
    <add key="Flag3" value="03" />
    <add key="CreatedBy" value="System" />
    <add key="DeclinedSMS" value="Under writing deision saral" />
    <add key="DeclinedSMSTemplate" value="4" />
    <add key="DeclinedEmailProcess" value="Under writing deision saral" />
    <add key="DeclinedEmailTemplateID" value="27" />
    <add key="ReqRaisedSMSProcess" value="UW Requirement raised" />
    <add key="ReqRaisedTemplateID" value="2" />
    <add key="ReqRaisedEmailProcess" value="We Need More Information" />
    <add key="ReqRaisedEmailTemplateID" value="26" />
    <add key="ReqRaisedEmailTemplateID_NonMedical" value="52" />
    <add key="PostponedSMSProcess" value="UW SMS Postponed request" />
    <add key="PostponedSMSTemplateID" value="5" />
    <add key="AcceptedSMSTemplateID" value="3" />
    <add key="AcceptedSMSProcess" value="Under writing deision saral" />
    <add key="PostponedEmailProcess" value="We Have Postponed Your Request" />
    <add key="PostponedEmailTemplateID" value="29" />
    <add key="CarrierCode" value="10" />
    <!--########################## ID 2.1 End of Changes CR 26273;Akshada ###########################################-->
    <!--##########################  3.1 Begin of Changes CR 28153;Akshada-[MFL00455]  ###########################################-->
    <add key="CommunicationType" value="EMAIL" />
    <add key="ConsentProcessName" value="Consent Letter" />
    <add key="ConsentEmailTemplateId" value="55" />
    <add key="ReductionOfSumAssured" value="75" />
    <add key="ConsentFileName" value="RevisedBI.pdf" />
    <add key="IsExternal" value="YES" />
    <add key="test_MobileNo" value="" />
    <add key="test_EmailId" value="" />
    <add key="Mode" value="UW" />
    <add key="CreatedBy" value="System" />
    <add key="ConsentAPI" value="http://10.8.41.32/ConsentAPI/api/ConsentLetter/" />
    <!--<add key="ConsentAPI" value="http://fglpg001.futuregenerali.in/ConsentAPI/api/ConsentLetter/" />-->
    <add key="COSConsent" value="Consent for Reduction of Sum Assured" />
    <add key="COS_Process" value="SA_REDUCTION" />
    <add key="CounterOfferGenerated" value="CounterOfferGenerated" />
    <!--<add key="ConsentAPI" value="http://fglpg001.futuregenerali.in/ConsentAPI/api/ConsentLetter/" />
    <add key="ConsentAPI" value="http://fglpg001.futuregenerali.in/ConsentAPI/api/ConsentLetter/" />-->
    <add key="COSConsent" value="Consent for Reduction of Sum Assured" />
    <add key="ConsentRaised" value="ConsentRaised" />
    <add key="ConsentAttachmentType" value=".pdf" />
    <add key="AttachmentSource" value="ConsentLetter" />
    <!--<add key="COS_ConsentSatus" value="ConsentReduceSA" />-->
    <add key="COS_ConsentSatus" value="RevisedConsentRSA" />
    <add key="ConsentSMS" value="RATEUP_INTI_SMS" />
    <add key="ConsentFollowUpSIS" value="SIS" />
    <add key="ConsentFollowUpCNE" value="CNE" />
    <add key="ConsentFollowUpCME" value="CME" />
    <add key="ConsentFollowUpCOP" value="COP" />
    <add key="ConsentFollowUpCOL" value="COL" />
    <add key="ConsentFollowUpStatus" value="RS" />
    <add key="ConsentLogs" value="UW_ConsentLetter" />
    <add key="AppTrackerApi" value="http://mumhoiwebsvc02/ApplicationTrackerApi/api/Apptracker" />
    <add key="LogSPName" value="usp_LF_POSLOGS" />
    <!--<add key="AppTrackerApi" value="http://mumhoiwebsvc02/ApplicationTrackerApi/api/Apptracker"/>-->
    <!--########################## 3.1 End of Changes CR 28153 ;Akshada-[MFL00455]###########################################-->
    <add key="CreateWorkitemID" value="F1121881,F1126817,F1136186,F1120421" />
    <!--added by suraj on 08 March 2021 to change OCR link given by Pramod gupta-->
    <!--<add key="OCRLink" value="https://lfuat.futuregenerali.in/UWAnalysis/?ApplicationNumber="/>-->
    <add key="OCRLink" value="http://10.6.41.88/UWAnalysis/?ApplicationNumber=" />
    <!--end-->
    <!--##########################  3.1 Begin of Changes CR 30461;Brijesh Pandey-[MFL00464]  ###########################################-->
    <add key="IIBGenerateTokenAPILink" value="https://lfagentapigw-rsg.azure-api.net/generateToken/api/GenerateToken" />
    <add key="IIBRiskScoreAPILink" value="https://lfagentapigw-rsg.azure-api.net/SmartApiIIBScore/api/IIBScore/GetIIBScore" />
    <add key="Ocp-Apim-Subscription-Key" value="7b83a48f03374f2794d6da09f559f6dd" />
    <add key="ClientID" value="d5cc933c-587d-4077-8798-21417b84bffd" />
    <add key="ClientSecret" value="ssTifEJIcCRkgXMGlGzJyhZqTs4F+uTYpZzXHUBq1kg=" />
    <add key="Source" value="TOKEN" />
    <add key="PartnerID" value="1122423" />
    <add key="APIDetails" value="IIBScore" />
    <add key="IIBAPISource" value="104" />
    <add key="IIBScoreAPIFlag" value="No" />
    <!--added by kavita on 28/08/2021-->
    <add key="SmartApiIIBMatch" value="https://nb.fguniconnect.in/SmartApiIIBMatch/api/IIBQuery/GetMatchIIBRecords" />
    <!--########################## 3.1 End of Changes CR 30461 ;Brijesh Pandey-[MFL00464]###########################################-->
    <!--AFI Data on chequeBounce AFI Type Begin of Changes Kavita Mahajan-->
    <add key="ReasonCD" value="W05" />
    <add key="ReasonDescription" value="Withdrawn-cheque bounce" />
    <!--AFI Data on chequeBounce AFI Type End of Changes Kavita Mahajan-->
    <!--5-2 Start of changes: Sagar Thorave [MFL00886] CR-30573-->
    <add key="BmpsPolicyFlagId" value="F1120421" />
    <add key="PolicyFlagValues" value="veryhigh,high,medium,low" />
    <!--5-2 End of changes: Sagar Thorave [MFL00886] CR-30573-->
    <!--start Changes sushant Devkate [MFL00905]  Add pincode CR-30363 -->
    <add key="OpenAddPincode" value="F1126294,F1138850,F1136818,F1120421" />
    <!--End Changes sushant Devkate [MFL00905] Add Pincode CR-30363-->
	<!--6.2 Begin Of Changes Sagar Thorave -->
    <!--CR-30554 Begin of Changes; Sagar Thorave-[mfl00886]-->
    <add key="IsENY" value="true"/>
    <add key="IsRiskScore" value="false"/>
    <add key="ClientID" value="d5cc933c-587d-4077-8798-21417b84bffd"/>
    <add key="ClientSecret" value="ssTifEJIcCRkgXMGlGzJyhZqTs4F+uTYpZzXHUBq1kg="/>
    <add key="Source" value="TOKEN"/>
    <add key="PartnerID" value="SARAL"/>
    <add key="TOKENSubscriptionKey" value="7b83a48f03374f2794d6da09f559f6dd"/>
    <add key="TOKENURL" value="https://lfagentapigw-rsg.azure-api.net/generateToken/api/GenerateToken"/>
    <add key="ENYScoreApiURL" value="https://mumhoiintweb02.fgi.ad/EY_publish/api/EYRiskScore/"/>
    <add key="RiskScoreApiURL" value="https://nb.fguniconnect.in/SmartRiskScoreApi/api/RiskScore/"/>
    <!--CR-30554 End of Changes; Sagar Thorave-[mfl00886]-->	<!--6.2 End Of Changes Sagar Thorave -->
    <!--Start Added by Sushant Devkate [MFL00905] CR -2304-->
    <add key="CustMobAgntChk_APIURL" value="https://customer.life.futuregenerali.in/CustMobAgntChk/api/Values" />
    <add key="IsAgntChkAPIURLCall" value="false"/>
    <!--End Added by Sushant Devkate  [MFL00905] CR -2304-->
   <!--  added flag for IIB Match API Call  by sushant Devkate [MFL00905] -->
    <add key="IsIIBMatchAPICall" value="false" />
    <!--  added flag for IIB Match API Call  by sushant Devkate [MFL00905] -->
     <!--  added CMO Changes by Sagar Thorave [MFL00886] -->
    <add key="CMOFileCommentUpload" value="\\10.1.41.36\TiffUpload2\Upload2\"/>
    <add key="CMOFileGet" value="\\10.1.42.35\uw_tp\Special_Medical_Reports\"/>
    <add key="CMOCommentFilePath" value="\\10.9.41.90\ShareFolderD_90\Sagar\"/>
    <add key="CMOAccessUser" value="FMFL00451"/>
     <!--  End CMO Changes by Sagar Thorave [MFL00886] -->
	  
   <!--CR-5307 Begin Changes Bhuamik Patel-->
	<add key="Logoutkey" value="https://life.fguniconnect.in/FGUniconnect/"/>
	 <!--CR-5307 End Changes Bhuamik Patel-->
	  <!--Start Added by Jayendra Patankar [WebAshlar01] CR-4126 -->
	  <add key="HealthVideoUrl" value="http://10.1.41.136:105" />
	  <add key="DocsupViUrl" value="http://10.1.41.136:106" />
	  <add key="FgVmUrl" value="http://10.1.41.136:107" />
	  <add key="HealthVideoPath" value="\\10.1.41.136\Health-Video" />
	  <add key="DocsupViPath" value="\\10.1.41.136\Docsup-vi" />
	  <add key="FgVmPath" value="\\10.1.41.136\fg-vm" />
	  <!--Start Added by Jayendra Patankar [WebAshlar01] CR-4126-->
  
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <!--<membership defaultProvider="AspNetSQlMembershipProvider" userIsOnlineTimeWindow="1">
      <providers>
        <clear/>
        <add connectionStringName="transactiondbLFMembership" enablePasswordRetrieval="false"
             enablePasswordReset="true" requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider"/>
      </providers>
    </membership>-->
    <sessionState cookieless="false" timeout="20" />
    <!--<customErrors mode="Off"/>-->
    <!--<customErrors mode="Off"/>-->
    <!--Added by kavita VAPT point 12 09/06/2021
    <httpCookies requireSSL="true" />
    <authentication mode="Forms">
      <forms requireSSL="true">
      </forms>
    </authentication>

    Ended by kavita VAPT point 12 09/06/2021-->
    <customErrors mode="Off" defaultRedirect="~/Error500.aspx">
      <error statusCode="403" redirect="~/Error500.aspx" />
      <error statusCode="404" redirect="~/Error500.aspx" />
      <error statusCode="500" redirect="~/Error500.aspx" />
    </customErrors>
    <compilation targetFramework="4.7.1" debug="true">
      <assemblies>
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http, Version=4.1.1.3, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <globalization culture="en-NZ" uiCulture="en-NZ" />
    <httpRuntime targetFramework="4.5" executionTimeout="500" maxRequestLength="200000000" />
    <!--<customErrors mode="Off"/>-->
    <httpHandlers>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
    </httpHandlers>
    <!--<sessionState mode="InProc" regenerateExpiredSessionId="true" cookieless="true" timeout="20"></sessionState>-->
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>-->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
        </verbs>
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
    <handlers>
      <add verb="POST,GET" name="Ajax" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="BPMAccess.aspx" />
        <add value="9011042143.aspx" />
      </files>
    </defaultDocument>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IeKYCService" />
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpBinding_IService2" />
        <binding name="BasicHttpBinding_IService3" />
        <binding name="AgentValidationServiceSoap11Binding" />
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_ILifeRuleEngine" />
        <binding name="BasicHttpBinding_IService6" />
        <binding name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding" />
        <binding name="BasicHttpBinding_IService4" />
        <binding name="BasicHttpBinding_IService5" />
        <binding name="PanXMLWebServiceSoap" />
        <binding name="BasicHttpBinding_ILifePremiumCalculator" />
        <binding name="BasicHttpBinding_IService7" />
        <binding name="BasicHttpBinding_IService8" />
        <binding name="BasicHttpBinding_IService9" />
        <binding name="BasicHttpBinding_IService10" />
        <binding name="BasicHttpBinding_IService11" />
        <binding name="BasicHttpBinding_IService12" />
        <binding name="BasicHttpBinding_IService13" />
        <binding name="BasicHttpBinding_IService14" />
        <binding name="BasicHttpBinding_IService15" />
        <binding name="LFAgentService_WS_LFAgentServiceBPMIntfHttpBinding" />
        <binding name="BasicHttpBinding_IService16" />
        <binding name="BasicHttpBinding_IService17" />
        <binding name="BasicHttpBinding_IService18" />
        <binding name="BasicHttpBinding_IService19" />
        <binding name="BasicHttpBinding_ICIBILService" closeTimeout="10:40:00" openTimeout="10:40:00" receiveTimeout="10:40:00" sendTimeout="10:40:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="MedicalDataEntryInvokeSoapSoapBinding" />
        <binding name="CallSdnSoapBinding" />
        <binding name="BasicHttpsBinding_IeKYCService">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap1" />
        <binding name="BasicHttpBinding_IWCFGenerateInputOutput" />
        <binding name="BasicHttpBinding_IWCFHitMQ" />
        <binding name="BasicHttpBinding_IService20" />
        <binding name="BasicHttpBinding_IService110" />
        <binding name="BasicHttpsBinding_IService1">
          <security mode="Transport" />
        </binding>
        <binding name="CombiDetachService" />
      </basicHttpBinding>
      <customBinding>
        <binding name="AgentValidationServiceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_AMLCreationUpdation/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="LAAmlService.IService" name="BasicHttpBinding_IService" />
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_LoadingCreation/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService2" contract="LALoadingService.IService" name="BasicHttpBinding_IService2" />
      <endpoint address="http://mumhoiauxlf01.fgi.ad:10004/FG.LF.TSARPPC/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService3" contract="LAMsarService.IService" name="BasicHttpBinding_IService3" />
      <endpoint address="http://10.1.41.48:9083/interfacewebservices/services/AgentValidationService.AgentValidationServiceHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="AgentValidationServiceSoap11Binding" contract="LAAgentDetailsService.AgentValidationServicePortType" name="AgentValidationServiceHttpSoap11Endpoint" />
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_FollowUp/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="LAFollowupService.IService" name="BasicHttpBinding_IService1" />
      <endpoint address="http://mumhoiauxlf01.fgi.ad:8659/LifeRuleEngine.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILifeRuleEngine" contract="LAStpvalidationDetailsService.ILifeRuleEngine" name="BasicHttpBinding_ILifeRuleEngine" />
      <endpoint address="http://10.1.41.114:80/FG_SMSService_MMWeb/sca/FG_SMSService_WSExport" binding="basicHttpBinding" bindingConfiguration="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding" contract="esbSendSMSSvc.FGSMSServiceBPMIntf" name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpPort" />
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_PolicyIssuance/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService4" contract="LAPreIssueValService.IService" name="BasicHttpBinding_IService4" />
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_UnderwritingApproval/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService5" contract="LAUwapprovalService.IService" name="BasicHttpBinding_IService5" />
      <endpoint address="http://mumhoiwebsvc02/PANSERVICE/PanXMLWebService.asmx" binding="basicHttpBinding" bindingConfiguration="PanXMLWebServiceSoap" contract="LAPanValidationService.PanXMLWebServiceSoap" name="PanXMLWebServiceSoap" />
      <endpoint address="http://mumhoiauxlf01.fgi.ad:4013/LifePremiumCalculator.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILifePremiumCalculator" contract="LAPremiumCalService.ILifePremiumCalculator" name="BasicHttpBinding_ILifePremiumCalculator" />
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_UnderwritingEnquiry/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService8" contract="LAFSARCalculationService.IService" name="BasicHttpBinding_IService8" />
      <endpoint address="http://deqc.futuregenerali.in/LifeAsiaServices/LA_AMLEnquiry/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService9" contract="LAAmlEnquiryService.IService" name="BasicHttpBinding_IService9" />
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_ContractCreation/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService7" contract="LAContractModService.IService" name="BasicHttpBinding_IService7" />
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_UnderwritingDecision/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService10" contract="LAUwdecisionService.IService" name="BasicHttpBinding_IService6" />
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_InceptionAlterCancel/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11" contract="AFICFI.IService" name="BasicHttpBinding_IService11" />
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_UnderwritingApprovalReverse/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12" contract="LAUWreversalService.IService" name="BasicHttpBinding_IService12" />
      <endpoint address="http://deqc.futuregenerali.in/LifeAsiaServices/LA_ReceiptCancellation/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService13" contract="LAReceiptCancelationService.IService" name="BasicHttpBinding_IService13" />
      <endpoint address="http://mumhoiauxlf01.fgi.ad:10004/FG.LF.WS.ClientCreation/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService14" contract="LAClientCreationService.IService" name="BasicHttpBinding_IService10" />
      <endpoint address="http://mumhoiauxlf01.fgi.ad:10004/FG.LF.WS.Client_BankAccountEnquiry/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService15" contract="LAClientUpdationService.IService" name="BasicHttpBinding_IService14" />
      <endpoint address="http://10.1.41.114:80/LF_AgentService_MMWeb/sca/LFAgentService_WS" binding="basicHttpBinding" bindingConfiguration="LFAgentService_WS_LFAgentServiceBPMIntfHttpBinding" contract="LAAgentEnquiry.LFAgentServiceBPMIntf" name="LFAgentService_WS_LFAgentServiceBPMIntfHttpPort" />
      <endpoint address="http://mumhoiauxlf01.fgi.ad:10004/FG.LF.WS.MandateService/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService16" contract="LAMandate.IService" name="BasicHttpBinding_IService15" />
      <endpoint address="http://mumhoiauxlf01.fgi.ad:10004/FG.LF.WS.Client_BankAccountEnquiry/Service.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService17" contract="LABankEnquiry.IService" name="BasicHttpBinding_IService16" />
      <endpoint address="http://10.1.41.48:9084/interfacewebservices/services/AgentValidationService.AgentValidationServiceHttpSoap12Endpoint/" binding="customBinding" bindingConfiguration="AgentValidationServiceSoap12Binding" contract="LAAgentValidationService.AgentValidationServicePortType" name="AgentValidationServiceHttpSoap12Endpoint" />
      <endpoint address="http://auxfglife.futuregenerali.in:10004/FG.LF.WS.OFACService/Service1.svc" binding="basicHttpBinding" bindingConfiguration="CallSdnSoapBinding" contract="LAOfacService.IService1" name="CallSdn" />
      <endpoint address="http://mumhoiauxlf01.fgi.ad:10004/FG.LF.WS.Journal/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService18" contract="LAJournalService.IService" name="BasicHttpBinding_IService17" />
      <endpoint address="http://auxfglife.futuregenerali.in:82/LifePDFService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService19" contract="LAConsentLetter.IService1" name="BasicHttpBinding_IService18" />
      <endpoint address="http://192.168.51.46/TPAMedicalDataEntry/Itpastatuscode.svc" binding="basicHttpBinding" bindingConfiguration="MedicalDataEntryInvokeSoapSoapBinding" contract="LAMedicalEntryInvoke.MedicalDataEntryInvokePortType" name="MedicalDataEntryInvokeSoap" />
      <endpoint address="http://mumhoiekyc01/FG.LF.WS.EKYCService.V2/eKYCService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IeKYCService" contract="Aadhar.IeKYCService" name="BasicHttpBinding_IeKYCService" />
      <endpoint address="http://deqc.futuregenerali.in/CIBILScoreService/Service1.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICIBILService" contract="CIBILSCORE.IService1" name="BasicHttpBinding_ICIBILService" />
      <endpoint address="https://quest.iib.gov.in/QuestSVC/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="IIBData.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://mumhoiauxlf01.fgi.ad/AS400_Reinstatment/WCFGenerateInputOutput.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFGenerateInputOutput" contract="WCFGenerateInputOutput.IWCFGenerateInputOutput" name="BasicHttpBinding_IWCFGenerateInputOutput" />
      <endpoint address="http://10.1.41.221/WS.POS.HIT.MQ/WCFHitMQ.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFHitMQ" contract="WCFHitMQ.IWCFHitMQ" name="BasicHttpBinding_IWCFHitMQ" />
      <endpoint address="http://mumhoiauxlf01.fgi.ad:10004/FG.LF.TSAR_MSAR_FSAR/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService20" contract="TSAR.IService" name="BasicHttpBinding_IService19" />
      <endpoint address="http://mumhoiauxlf01.fgi.ad/ReinstSTP_Service/STPService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService110" contract="ReinstSTP.IService1" name="BasicHttpBinding_IService110" />
      <endpoint address="https://mumhoiauxlf01.fgi.ad/ReinstSTP_Service/STPService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService1" contract="ReinstSTP.IService1" name="BasicHttpsBinding_IService1" />
      <endpoint address="http://mumhoiauxlf01.fgi.ad:10004/WSLACombiBOs/Service.svc" binding="basicHttpBinding" bindingConfiguration="CombiDetachService" contract="LACombi_DetachService.IService" name="CombiDetachService" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="transactiondbLF" connectionString="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=transactiondbLF;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add name="transactiondbLFTPA" connectionString="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=TransactiondbLFTPA;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add name="Lombardimatersync" connectionString="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=Lombardimatersync;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add name="replica" connectionString="Data Source=192.168.51.42;Initial Catalog=OnlineSales_REP;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add name="FGLICRM" connectionString="Data Source=10.10.3.71,21443;Initial Catalog=FGLICRM;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add name="LF_MOBILEConnectionString" connectionString="Data Source=10.10.3.71,21443;Initial Catalog=FGLIPlatform;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <!--<add name="transactiondbLFMembership" connectionString="Data source=MUMHOIBPMDB04; Initial Catalog=transactiondbLF; user id=adminsa; password=C0n+r01@r; Integrated Security=False" providerName="System.Data.SqlClient"/>-->
    <!--added by swapnil on 13 july 18 to add connectionString  for group underwriter dashboard & decision -->
    <!--<add name="groupFG" connectionString="Data source= 10.10.41.53\LIFE; Initial Catalog=FG_LF_GROUP_POLICY_UAT; user id=adminsa; password=C0n+r01@r; Integrated Security=False" providerName="System.Data.SqlClient"/>-->
    <add name="groupFG" connectionString="Data source=10.8.41.102; Initial Catalog=GROUP_POLICY_PRD; user id=Sqladmin; password=sqlsvc@123; Integrated Security=False" providerName="System.Data.SqlClient" />
    <!--##########################  3.1 Begin of Changes CR 28153;Akshada-[MFL00455]  ###########################################-->
    <add name="SqlPOSTConnectionString" connectionString="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=transactiondbLF;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" providerName="System.Data.SqlClient" />
    <!--##########################  3.1 End of Changes CR 28153;Akshada-[MFL00455]  ###########################################-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.20.0.103" newVersion="2.20.0.103" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>