<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  ************************************************************************************************************************************
COMMENT ID: 1
COMMENTOR NAME :Amit Chaudhary
METHODE/EVENT:
REMARK: NEW CONNECTION STRING ADDED TO POINT LOMBARDISCYNCDEV .
DateTime :22JAN17
*********************************************************************************************************************************
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="transactiondbLF" value="Data Source=10.1.41.145;Initial Catalog=transactiondbLF;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add key="OnlineSalesSTG" value="Data Source=10.1.41.58\nonlife;Initial Catalog=OnlineSalesSTG;Persist Security Info=True;User ID=salestest;Password=salestest@1"/>
    <add key="Lombardimatersync" value="Data Source=10.1.41.145;Initial Catalog=Lombardimatersync;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add key="replica" value="Data Source=10.1.41.145;Initial Catalog=transactiondbLF;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add key="FGLICRM" value="Data Source=10.1.41.145;Initial Catalog=FGLICRM;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add key="LF_MOBILEConnectionString" value="Data Source=10.1.41.145;Initial Catalog=FGLIPlatform;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add key="usergroup" value="DOCQC" />
    <!--added by shri on 31 aug 17-->
    <add key="DocUploadPath" value="C:\Platforms_UAT\Platform_Documents\FutureGenerali\iTerm\" />
    <!--<add key="DocUploadPath" vale="C:\shri\test\" />-->
    <!--end here-->
    <add key="FileExtentions" value=".pdf .png .jpeg .jpg .xlsx" />
    <!--FileExtentions splited with space in code behind-->
    <add key="ServiceTax" value="0.18" />
    <!--added by shri on 24 aug to redirect from bpm-->
    <add key="transactiondbLFBPMAcess" value="Data Source=10.1.41.145;Initial Catalog=POSTXDB;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add key="CON_LBPMDBLF" value="Data Source=10.1.41.145;Initial Catalog=FGUniAuthDB;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />
    <add key="cnLombardimatersync" value="Data Source=10.1.41.145;Initial Catalog=Lombardimatersync;User ID=adminsa;Password=C0n+r01@r" />
    <!--added by shri on 10 aug 17 to show path of dms agent sign and docs-->
    <add key="AgentSignPath" value="http://dms.futuregenerali.in:9080/omnidocs/integration/foldView/viewFoldList.jsp?Application=Future_Generali&amp;DataClassName=Future_Generali&amp;DC.Application_NO=" />
    <add key="ApplicationFilePath" value="http://dms.futuregenerali.in:9080/omnidocs/integration/foldView/viewFoldList.jsp?Application=Future_Generali&amp;DataClassName=Future_Generali&amp;DC.Application_NO=" />
    <!--added by shri on 10 aug 17 to add dms file-->
    <add key="GETIMAGE" value="http://mumhoidmsprd01.fgi.ad:9080/omnidocs/integration/foldView/viewFoldList.jsp?Application=Future_Generali&amp;DataClassName=Future_Generali&amp;DC.Application_NO" />
    <add key="DOCKEY" value="&amp;DC.Document_Type=" />
    <add key="AmlInline" value="[FgliPlatform].[dbo].LeadDocument" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!--added by shri on 30 aug 17 to add policy enquiry-->
    <add key="PolicyEnquiry" value="http://10.1.41.221/polenq/search.aspx?MobileNo=1234567891" />
    <!--added by shri on 13 jan 18 to add adhar verification-->
    <add key="Ekey" value="UF530Dt5rG5hkPhSy8R3IRdj7Nx3j55t"/>
    <add key="Username" value="TestAdmin"/>
    <add key="Password" value="TestAdmin@1"/>
    <!--end here-->
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <globalization culture="en-NZ" uiCulture="en-NZ" />
    <httpRuntime targetFramework="4.5" executionTimeout="500" maxRequestLength="200000000" />
    <!--<customErrors mode="Off"/>-->
    <httpHandlers>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
    </httpHandlers>
    <!--<sessionState mode="InProc" cookieless="true" timeout="20"></sessionState>-->
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
        </verbs>
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
    <handlers>
      <add verb="POST,GET" name="Ajax" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="BPMAccess.aspx" />
        <add value="9011042143.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpBinding_IService2" />
        <binding name="BasicHttpBinding_IService3" />
        <binding name="AgentValidationServiceSoap11Binding" />
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_ILifeRuleEngine" />
        <binding name="BasicHttpBinding_IService6" />
        <binding name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding" />
        <binding name="BasicHttpBinding_IService4" />
        <binding name="BasicHttpBinding_IService5" />
        <binding name="PanXMLWebServiceSoap" />
        <binding name="BasicHttpBinding_ILifePremiumCalculator" />
        <binding name="BasicHttpBinding_IService7" />
        <binding name="BasicHttpBinding_IService8" />
        <binding name="BasicHttpBinding_IService9" />
        <binding name="BasicHttpBinding_IService10" />
        <binding name="BasicHttpBinding_IService11" />
        <binding name="BasicHttpBinding_IService12" />
        <binding name="BasicHttpBinding_IService13" />
        <binding name="BasicHttpBinding_IService14" />
        <binding name="BasicHttpBinding_IService15" />
        <binding name="LFAgentService_WS_LFAgentServiceBPMIntfHttpBinding" />
        <!--added by shri on 07 sept 17 to add mandate and bank service-->
        <binding name="BasicHttpBinding_IService16" />
        <binding name="BasicHttpBinding_IService17" />
        <binding name="BasicHttpBinding_IService18" />
        <binding name="BasicHttpBinding_IService19" />
        <binding name="BasicHttpBinding_IService20" />
        <!--ofac service-->
        <binding name="CallSdnSoapBinding" />
        <binding name="MedicalDataEntryInvokeSoapSoapBinding" />
         <!--aadhar service-->
        <!--<binding name="BasicHttpBinding_IeKYCService" />-->
        <binding name="BasicHttpsBinding_IeKYCService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <!--added by shri on 10 aug 17 to validate agent-->
      <customBinding>
        <binding name="AgentValidationServiceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
      <!--end here-->
    </bindings>
    <client>
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.TSARCalculation/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService20" contract="LAMsarServiceSaral.IService" name="BasicHttpBinding_IService19" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LFWS.AMLCreationUpdationService/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="LAAmlService.IService" name="BasicHttpBinding_IService" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.LoadingBO/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService2" contract="LALoadingService.IService" name="BasicHttpBinding_IService2" />
      <!--<endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.TSAR_MSAR_FSAR/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService3" contract="LAMsarService.IService" name="BasicHttpBinding_IService3" />-->
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.TSARCalculation/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService3" contract="LAMsarService.IService" name="BasicHttpBinding_IService3" />
      <endpoint address="http://10.1.41.48:9083/interfacewebservices/services/AgentValidationService.AgentValidationServiceHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="AgentValidationServiceSoap11Binding" contract="LAAgentDetailsService.AgentValidationServicePortType" name="AgentValidationServiceHttpSoap11Endpoint" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.FollowUpBO/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="LAFollowupService.IService" name="BasicHttpBinding_IService1" />
      <!--<endpoint address="http://10.1.41.243:147/LifeRuleEngine.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILifeRuleEngine" contract="LAStpvalidationDetailsService.ILifeRuleEngine" name="BasicHttpBinding_ILifeRuleEngine" />-->
      <endpoint address="http://10.1.36.54:8659/LifeRuleEngine.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILifeRuleEngine" contract="LAStpvalidationDetailsService.ILifeRuleEngine" name="BasicHttpBinding_ILifeRuleEngine" />
      <endpoint address="http://10.1.41.193:9080/FG_SMSService_MMWeb/sca/FG_SMSService_WSExport" binding="basicHttpBinding" bindingConfiguration="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding" contract="esbSendSMSSvc.FGSMSServiceBPMIntf" name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpPort" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.Policy_Pre_IssuanceBO/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService4" contract="LAPreIssueValService.IService" name="BasicHttpBinding_IService4" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.UnderwritingApprovalBO/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService5" contract="LAUwapprovalService.IService" name="BasicHttpBinding_IService5" />
      <endpoint address="http://10.1.36.40/PANService/PanXMLWebService.asmx" binding="basicHttpBinding" bindingConfiguration="PanXMLWebServiceSoap" contract="LAPanValidationService.PanXMLWebServiceSoap" name="PanXMLWebServiceSoap" />
      <endpoint address="http://10.1.36.54:4013/LifePremiumCalculator.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILifePremiumCalculator" contract="LAPremiumCalService.ILifePremiumCalculator" name="BasicHttpBinding_ILifePremiumCalculator" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.UnderwritingEnquiryBO/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService8" contract="LAFSARCalculationService.IService" name="BasicHttpBinding_IService8" />
      <endpoint address="http://10.1.36.54:10002/FG.LF.WS.AMLEnquiry/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService9" contract="LAAmlEnquiryService.IService" name="BasicHttpBinding_IService9" />
      <endpoint address="http://fglpg001.futuregenerali.in/NewBusinessProposal/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService7" contract="LAContractModService.IService" name="BasicHttpBinding_IService7" />
      <!--<endpoint address="http://fglpg001.futuregenerali.in/NewBusinessProposal/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService7" contract="LAContractModService.IService" name="BasicHttpBinding_IService7" />-->
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.UnderwritingDecisionBO/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService10" contract="LAUwdecisionService.IService" name="BasicHttpBinding_IService6" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.InceptionAlter_CancelBO/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11" contract="AFICFI.IService" name="BasicHttpBinding_IService11" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.UnderwritingAppRevBO/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12" contract="LAUWreversalService.IService" name="BasicHttpBinding_IService12" />
      <endpoint address="http://10.1.36.54:10002/WS.RecieptCancellation/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService13" contract="LAReceiptCancelationService.IService" name="BasicHttpBinding_IService13" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.ClientCreationBO/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService14" contract="LAClientCreationService.IService" name="BasicHttpBinding_IService10" />
      <endpoint address="http://10.1.36.54:10002/FG.LF.WS.ClientUpdate_BankEnquiryBO/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService15" contract="LAClientUpdationService.IService" name="BasicHttpBinding_IService14" />
      <endpoint address="http://10.1.41.193:9080/LF_AgentService_MMWeb/sca/LFAgentService_WS" binding="basicHttpBinding" bindingConfiguration="LFAgentService_WS_LFAgentServiceBPMIntfHttpBinding" contract="LAAgentEnquiry.LFAgentServiceBPMIntf" name="LFAgentService_WS_LFAgentServiceBPMIntfHttpPort" />
      <!--added by shri on 07 sept 17 to add mandate and bank services-->
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.MandateBO/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService16" contract="LAMandate.IService" name="BasicHttpBinding_IService15" />
      <endpoint address="http://10.1.36.54:10002/FG.LF.WS.ClientUpdate_BankEnquiryBO/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService17" contract="LABankEnquiry.IService" name="BasicHttpBinding_IService16" />
      <!--added by shri on 10 aug 2017 to add agent verification binding-->
      <endpoint address="http://10.1.41.48:9084/interfacewebservices/services/AgentValidationService.AgentValidationServiceHttpSoap12Endpoint/" binding="customBinding" bindingConfiguration="AgentValidationServiceSoap12Binding" contract="LAAgentValidationService.AgentValidationServicePortType" name="AgentValidationServiceHttpSoap12Endpoint" />
      <!--ofac service-->
      <endpoint address="http://10.1.41.97:8080/FG_LIFE/services/CallSdn" binding="basicHttpBinding" bindingConfiguration="CallSdnSoapBinding" contract="LAOfacService.CallSdn" name="CallSdn" />
      <!--end here-->
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.Journal/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService18" contract="LAJournalService.IService" name="BasicHttpBinding_IService17" />

      <endpoint address="http://MUMHOIBPMDEV01.FGI.AD:9080/teamworks/webservices/FGLIFE/MedicalDataEntryInvoke.tws"
            binding="basicHttpBinding" bindingConfiguration="MedicalDataEntryInvokeSoapSoapBinding"
            contract="LAMedicalEntryInvoke.MedicalDataEntryInvokePortType"
            name="MedicalDataEntryInvokeSoap" />
      <endpoint address="http://10.1.36.54:82/LifePDFService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService19" contract="LAConsentLetter.IService1"
        name="BasicHttpBinding_IService18" />
      <!--ADDED BY SHRI ON 13 JAN 18 AADHAR ENDPOINT--> 
      <!--<endpoint address="http://mumhoiekyc01/FG.LF.WS.EKYCService.POS/eKYCService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IeKYCService"
        contract="Aadhar.IeKYCService" name="BasicHttpBinding_IeKYCService" />-->
      <endpoint address="https://ekyc.futuregenerali.in/FG.LF.WS.EKYCService.V2/eKYCService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IeKYCService"
        contract="Aadhar.IeKYCService" name="BasicHttpsBinding_IeKYCService" />
      <!--END HERE-->
    </client>
  </system.serviceModel>
</configuration>