<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-UWGuidlines_API-20180729034326.mdf;Initial Catalog=aspnet-UWGuidlines_API-20180729034326;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="transactiondbLF" value="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=transactiondbLF;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
    <add key="transactiondbLFTPA" value="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=TransactiondbLFTPA;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
    <add key="Lombardimatersync" value="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=Lombardimatersync;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
    <add key="replica" value="Data Source=192.168.51.42;Initial Catalog=OnlineSales_REP;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
    <add key="FGLICRM" value="Data Source=10.10.3.71,21443;Initial Catalog=FGLICRM;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
    <add key="LF_MOBILEConnectionString" value="Data Source=10.10.3.71,21443;Initial Catalog=FGLIPlatform;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
    <add key="usergroup" value="DOCQC"/>
    <!--added by shri on 31 aug 17-->
    <!--<add key="DocUploadPath" value="D:\UWSaralProject\Documents\"/>-->
    <add key="DocUploadPath" value="C:\shri\test\"/>
    <!--end here-->
    <add key="FileExtentions" value=".pdf .png .jpeg .jpg .xlsx"/>
    <!--FileExtentions splited with space in code behind-->
    <add key="ServiceTax" value="0.18"/>
    <!--added by shri on 24 aug to redirect from bpm-->
    <add key="transactiondbLFBPMAcess" value="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=POSTXDB;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
    <add key="CON_LBPMDBLF" value="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=LBPMDB;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
    <add key="cnLombardimatersync" value="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=Lombardimatersync;User ID=adminsa;Password=C0n+r01@r"/>
    <!--added by shri on 10 aug 17 to show path of dms agent sign and docs-->
    <add key="AgentSignPath" value="http://dms.futuregenerali.in:9080/omnidocs/integration/foldView/viewFoldList.jsp?Application=Future_Generali&amp;DataClassName=Future_Generali&amp;DC.Application_NO="/>
    <add key="ApplicationFilePath" value="http://dms.futuregenerali.in:9080/omnidocs/integration/foldView/viewFoldList.jsp?Application=Future_Generali&amp;DataClassName=Future_Generali&amp;DC.Application_NO="/>
    <!--added by shri on 10 aug 17 to add dms file-->
    <add key="GETIMAGE" value="http://mumhoidmsprd01.fgi.ad:9080/omnidocs/integration/foldView/viewFoldList.jsp?Application=Future_Generali&amp;DataClassName=Future_Generali&amp;DC.Application_NO"/>
    <add key="DOCKEY" value="&amp;DC.Document_Type="/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="AmlInline" value="[OnlineSales_REP].[dbo].LeadDocument"/>
    <!--added by shri on 30 aug 17 to add policy enquiry-->
    <add key="PolicyEnquiry" value="http://service.fglife.in/POLENQBOE/BPMAccess.aspx?Taskid=D33D6A42-7C29-49A6-9644-4B4FB7FA328D"/>
    <!--added by shri on 13 jan 18 to add adhar verification-->
    <add key="Ekey" value="UF530Dt5rG5hkPhSy8R3IRdj7Nx3j55t"/>
    <add key="Username" value="TestAdmin"/>
    <add key="Password" value="TestAdmin@1"/>
    <!--end here-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.7.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IeKYCService"/>
        <binding name="BasicHttpBinding_IService"/>
        <binding name="BasicHttpBinding_IService2"/>
        <binding name="BasicHttpBinding_IService3"/>
        <binding name="AgentValidationServiceSoap11Binding"/>
        <binding name="BasicHttpBinding_IService1"/>
        <binding name="BasicHttpBinding_ILifeRuleEngine"/>
        <binding name="BasicHttpBinding_IService6"/>
        <binding name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding"/>
        <binding name="BasicHttpBinding_IService4"/>
        <binding name="BasicHttpBinding_IService5"/>
        <binding name="PanXMLWebServiceSoap"/>
        <binding name="BasicHttpBinding_ILifePremiumCalculator"/>
        <binding name="BasicHttpBinding_IService7"/>
        <binding name="BasicHttpBinding_IService8"/>
        <binding name="BasicHttpBinding_IService9"/>
        <binding name="BasicHttpBinding_IService10"/>
        <binding name="BasicHttpBinding_IService11"/>
        <binding name="BasicHttpBinding_IService12"/>
        <binding name="BasicHttpBinding_IService13"/>
        <binding name="BasicHttpBinding_IService14"/>
        <binding name="BasicHttpBinding_IService15"/>
        <binding name="LFAgentService_WS_LFAgentServiceBPMIntfHttpBinding"/>
        <!--added by shri on 07 sept 17 to add mandate and bank service-->
        <binding name="BasicHttpBinding_IService16"/>
        <binding name="BasicHttpBinding_IService17"/>
        <binding name="BasicHttpBinding_IService18"/>
        <binding name="BasicHttpBinding_IService19"/>
        <!--ofac service-->
        <binding name="MedicalDataEntryInvokeSoapSoapBinding"/>
        <binding name="CallSdnSoapBinding"/>
        <!--aadhar service-->
        <binding name="BasicHttpsBinding_IeKYCService">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
      <!--added by shri on 10 aug 17 to validate agent-->
      <customBinding>
        <binding name="AgentValidationServiceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
      <!--end here-->
    </bindings>
    <client>
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_AMLCreationUpdation/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="LAAmlService.IService" name="BasicHttpBinding_IService"/>
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_LoadingCreation/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService2" contract="LALoadingService.IService" name="BasicHttpBinding_IService2"/>
      <!--commented and added by shri to change sar link-->
      <!--<endpoint address="http://10.1.41.196:9182/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService3" contract="LAMsarService.IService" name="BasicHttpBinding_IService3" />-->
      <endpoint address="http://mumhoiauxlf01.fgi.ad:10004/FG.LF.TSAR_MSAR_FSAR/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService3" contract="LAMsarService.IService" name="BasicHttpBinding_IService3"/>
      <!--end here-->
      <endpoint address="http://10.1.41.48:9083/interfacewebservices/services/AgentValidationService.AgentValidationServiceHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="AgentValidationServiceSoap11Binding" contract="LAAgentDetailsService.AgentValidationServicePortType" name="AgentValidationServiceHttpSoap11Endpoint"/>
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_FollowUp/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="LAFollowupService.IService" name="BasicHttpBinding_IService1"/>
      <endpoint address="http://10.1.41.196:8659/LifeRuleEngine.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILifeRuleEngine" contract="LAStpvalidationDetailsService.ILifeRuleEngine" name="BasicHttpBinding_ILifeRuleEngine"/>
      <endpoint address="http://10.1.41.114:80/FG_SMSService_MMWeb/sca/FG_SMSService_WSExport" binding="basicHttpBinding" bindingConfiguration="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding" contract="esbSendSMSSvc.FGSMSServiceBPMIntf" name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpPort"/>
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_PolicyIssuance/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService4" contract="LAPreIssueValService.IService" name="BasicHttpBinding_IService4"/>
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_UnderwritingApproval/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService5" contract="LAUwapprovalService.IService" name="BasicHttpBinding_IService5"/>
      <endpoint address="http://10.1.36.40/PANService/PanXMLWebService.asmx" binding="basicHttpBinding" bindingConfiguration="PanXMLWebServiceSoap" contract="LAPanValidationService.PanXMLWebServiceSoap" name="PanXMLWebServiceSoap"/>
      <endpoint address="http://10.1.41.196:4013/LifePremiumCalculator.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILifePremiumCalculator" contract="LAPremiumCalService.ILifePremiumCalculator" name="BasicHttpBinding_ILifePremiumCalculator"/>
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_UnderwritingEnquiry/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService8" contract="LAFSARCalculationService.IService" name="BasicHttpBinding_IService8"/>
      <endpoint address="http://10.8.41.39/LifeAsiaServices/LA_AMLEnquiry/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService9" contract="LAAmlEnquiryService.IService" name="BasicHttpBinding_IService9"/>
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_ContractCreation/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService7" contract="LAContractModService.IService" name="BasicHttpBinding_IService7"/>
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_UnderwritingDecision/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService10" contract="LAUwdecisionService.IService" name="BasicHttpBinding_IService6"/>
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_InceptionAlterCancel/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11" contract="AFICFI.IService" name="BasicHttpBinding_IService11"/>
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_UnderwritingApprovalReverse/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12" contract="LAUWreversalService.IService" name="BasicHttpBinding_IService12"/>
      <endpoint address="http://10.8.41.39/LifeAsiaServices/LA_ReceiptCancellation/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService13" contract="LAReceiptCancelationService.IService" name="BasicHttpBinding_IService13"/>
      <endpoint address="http://mumhoiauxlf01.fgi.ad:10004/FG.LF.WS.ClientCreation/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService14" contract="LAClientCreationService.IService" name="BasicHttpBinding_IService10"/>
      <endpoint address="http://10.1.41.196:10004/FG.LF.WS.Client_BankAccountEnquiry/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService15" contract="LAClientUpdationService.IService" name="BasicHttpBinding_IService14"/>
      <endpoint address="http://10.1.41.114:80/LF_AgentService_MMWeb/sca/LFAgentService_WS" binding="basicHttpBinding" bindingConfiguration="LFAgentService_WS_LFAgentServiceBPMIntfHttpBinding" contract="LAAgentEnquiry.LFAgentServiceBPMIntf" name="LFAgentService_WS_LFAgentServiceBPMIntfHttpPort"/>
      <!--added by shri on 07 sept 17 to add mandate and bank services-->
      <endpoint address="http://mumhoiauxlf01.fgi.ad:10004/FG.LF.WS.MandateService/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService16" contract="LAMandate.IService" name="BasicHttpBinding_IService15"/>
      <endpoint address="http://10.1.41.196:10004/FG.LF.WS.Client_BankAccountEnquiry/Service.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService17" contract="LABankEnquiry.IService" name="BasicHttpBinding_IService16"/>
      <!--added by shri on 10 aug 2017 to add agent verification binding-->
      <endpoint address="http://10.1.41.48:9084/interfacewebservices/services/AgentValidationService.AgentValidationServiceHttpSoap12Endpoint/" binding="customBinding" bindingConfiguration="AgentValidationServiceSoap12Binding" contract="LAAgentValidationService.AgentValidationServicePortType" name="AgentValidationServiceHttpSoap12Endpoint"/>
      <!--ofac service-->
      <endpoint address="http://10.1.41.97:8080/FG_LIFE/services/CallSdn" binding="basicHttpBinding" bindingConfiguration="CallSdnSoapBinding" contract="LAOfacService.CallSdn" name="CallSdn"/>
      <!--end here-->
      <endpoint address="http://mumhoiauxlf01.fgi.ad:10004/FG.LF.WS.Journal/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService18" contract="LAJournalService.IService" name="BasicHttpBinding_IService17"/>
      <endpoint address="http://10.1.41.195:82/LifePDFService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService19" contract="LAConsentLetter.IService1" name="BasicHttpBinding_IService18"/>
      <endpoint address="http://192.168.51.46/TPAMedicalDataEntry/Itpastatuscode.svc" binding="basicHttpBinding" bindingConfiguration="MedicalDataEntryInvokeSoapSoapBinding" contract="LAMedicalEntryInvoke.MedicalDataEntryInvokePortType" name="MedicalDataEntryInvokeSoap"/>
      <!--ADDED BY SHRI ON 13 JAN 18 AADHAR ENDPOINT-->
      <endpoint address="http://192.168.51.53/FG.LF.WS.EKYCService.V2/eKYCService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IeKYCService" contract="Aadhar.IeKYCService" name="BasicHttpBinding_IeKYCService"/>
      <!--<endpoint address="https://ekyc.futuregenerali.in/FG.LF.WS.EKYCService.V2/eKYCService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IeKYCService"
        contract="Aadhar.IeKYCService" name="BasicHttpsBinding_IeKYCService" />-->
      <!--END HERE-->
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>