<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--added by shri on 13 jan 18 to add adhar verification-->
    <add key="Ekey" value="UF530Dt5rG5hkPhSy8R3IRdj7Nx3j55t"/>
    <add key="Username" value="TestAdmin"/>
    <add key="Password" value="TestAdmin@1"/>
    <!--end here-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpBinding_IService2" />
        <binding name="BasicHttpBinding_IService3" />
        <binding name="AgentValidationServiceSoap11Binding" />
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_ILifeRuleEngine" />
        <binding name="BasicHttpBinding_IService6" />
        <binding name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding" />
        <binding name="BasicHttpBinding_IService4" />
        <binding name="BasicHttpBinding_IService5" />
        <binding name="PanXMLWebServiceSoap" />
        <binding name="BasicHttpBinding_ILifePremiumCalculator" />
        <binding name="BasicHttpBinding_IService8" />
        <binding name="BasicHttpBinding_IService9" />
        <binding name="BasicHttpBinding_IService10" />
        <binding name="BasicHttpBinding_IService11" />
        <binding name="BasicHttpBinding_IService12" />
        <binding name="BasicHttpBinding_IService13" />
        <binding name="BasicHttpBinding_IService14" />
        <binding name="BasicHttpBinding_IService15" />
        <binding name="LFAgentService_WS_LFAgentServiceBPMIntfHttpBinding" />
        <binding name="LFAgentService_WS_LFAgentServiceBPMIntfHttpBinding1" />
        <binding name="AgentValidationServiceSoap11Binding1" />
        <binding name="AgentValidationServiceSoap11Binding2" />
        <binding name="BasicHttpBinding_IService16" />
        <binding name="BasicHttpBinding_IService18" />
        <binding name="MedicalDataEntryInvokeSoapSoapBinding" />
        <binding name="BasicHttpBinding_IService19" />
        <binding name="MedicalDataEntryInvokeSoapSoapBinding1" />
        <binding name="BasicHttpsBinding_IeKYCService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IeKYCService" />
        <binding name="TiffConverterServiceSoap" maxBufferPoolSize="99999999"
          maxBufferSize="99999999" maxReceivedMessageSize="99999999" />
        <binding name="SOAPEndPoint" />
        <binding name="BasicHttpBinding_IService17" />
        <binding name="BasicHttpBinding_IService7" />
        <binding name="BasicHttpBinding_IService110" />
        <binding name="BasicHttpBinding_IService111" />
        <binding name="BasicHttpBinding_IService20" />
      </basicHttpBinding>
      <customBinding>
        <binding name="AgentValidationServiceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="AgentValidationServiceSoap12Binding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="WebHttpBinding_IHITPA_PIMS">
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LFWS.AMLCreationUpdationService/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="LAAmlService.IService" name="BasicHttpBinding_IService" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.LoadingBO/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService2"
        contract="LALoadingService.IService" name="BasicHttpBinding_IService2" />
      <endpoint address="http://10.1.41.48:9083/interfacewebservices/services/AgentValidationService.AgentValidationServiceHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="AgentValidationServiceSoap11Binding"
        contract="LAAgentDetailsService.AgentValidationServicePortType"
        name="AgentValidationServiceHttpSoap11Endpoint" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.FollowUpBO/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="LAFollowupService.IService" name="BasicHttpBinding_IService1" />
      <endpoint address="http://10.1.36.54:8659/LifeRuleEngine.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILifeRuleEngine"
        contract="LAStpvalidationDetailsService.ILifeRuleEngine" name="BasicHttpBinding_ILifeRuleEngine" />
      <endpoint address="http://10.1.41.193:9080/FG_SMSService_MMWeb/sca/FG_SMSService_WSExport"
        binding="basicHttpBinding" bindingConfiguration="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding"
        contract="esbSendSMSSvc.FGSMSServiceBPMIntf" name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpPort" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.Policy_Pre_IssuanceBO/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService4"
        contract="LAPreIssueValService.IService" name="BasicHttpBinding_IService4" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.UnderwritingApprovalBO/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService5"
        contract="LAUwapprovalService.IService" name="BasicHttpBinding_IService5" />
      <endpoint address="http://10.1.36.40/PANService/PanXMLWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="PanXMLWebServiceSoap"
        contract="LAPanValidationService.PanXMLWebServiceSoap" name="PanXMLWebServiceSoap" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.UnderwritingEnquiryBO/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService8"
        contract="LAFSARCalculationService.IService" name="BasicHttpBinding_IService8" />
      <endpoint address="http://10.1.36.54:10002/FG.LF.WS.AMLEnquiry/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService9"
        contract="LAAmlEnquiryService.IService" name="BasicHttpBinding_IService9" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.UnderwritingDecisionBO/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService10"
        contract="LAUwdecisionService.IService" name="BasicHttpBinding_IService6" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.InceptionAlter_CancelBO/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11"
        contract="AFICFI.IService" name="BasicHttpBinding_IService11" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.UnderwritingAppRevBO/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12"
        contract="LAUWreversalService.IService" name="BasicHttpBinding_IService12" />
      <endpoint address="http://10.1.36.54:10002/WS.RecieptCancellation/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService13"
        contract="LAReceiptCancelationService.IService" name="BasicHttpBinding_IService13" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.ClientCreationBO/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService14"
        contract="LAClientCreationService.IService" name="BasicHttpBinding_IService10" />
      <endpoint address="http://10.1.41.196:10004/FG.LF.WS.ClientUpdate_BankEnquiryBO/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService15"
        contract="LAClientUpdationService.IService" name="BasicHttpBinding_IService14" />
      <endpoint address="http://10.1.41.193:9080/LF_AgentService_MMWeb/sca/LFAgentService_WS"
        binding="basicHttpBinding" bindingConfiguration="LFAgentService_WS_LFAgentServiceBPMIntfHttpBinding"
        contract="LAAgentEnquiry.LFAgentServiceBPMIntf" name="LFAgentService_WS_LFAgentServiceBPMIntfHttpPort" />
      <endpoint address="http://10.1.41.193:9080/LF_AgentService_MMWeb/sca/LFAgentService_WS"
        binding="basicHttpBinding" bindingConfiguration="LFAgentService_WS_LFAgentServiceBPMIntfHttpBinding1"
        contract="LAAgentEnquiry.LFAgentServiceBPMIntf" name="LFAgentService_WS_LFAgentServiceBPMIntfHttpPort1" />
      <endpoint address="http://10.1.41.48:9084/interfacewebservices/services/AgentValidationService.AgentValidationServiceHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="AgentValidationServiceSoap11Binding1"
        contract="LAAgentValidationService.AgentValidationServicePortType"
        name="AgentValidationServiceHttpSoap11Endpoint1" />
      <endpoint address="http://10.1.41.48:9084/interfacewebservices/services/AgentValidationService.AgentValidationServiceHttpSoap12Endpoint/"
        binding="customBinding" bindingConfiguration="AgentValidationServiceSoap12Binding"
        contract="LAAgentValidationService.AgentValidationServicePortType"
        name="AgentValidationServiceHttpSoap12Endpoint" />
      <endpoint address="http://10.1.41.48:9084/interfacewebservices/services/AgentValidationService.AgentValidationServiceHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="AgentValidationServiceSoap11Binding2"
        contract="LAAgentValidationService.AgentValidationServicePortType"
        name="AgentValidationServiceHttpSoap11Endpoint2" />
      <endpoint address="http://10.1.41.48:9084/interfacewebservices/services/AgentValidationService.AgentValidationServiceHttpSoap12Endpoint/"
        binding="customBinding" bindingConfiguration="AgentValidationServiceSoap12Binding1"
        contract="LAAgentValidationService.AgentValidationServicePortType"
        name="AgentValidationServiceHttpSoap12Endpoint1" />
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.Journal/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService18"
        contract="LAJournalService.IService" name="BasicHttpBinding_IService17" />
      <endpoint address="http://MUMHOIBPMDEV01.FGI.AD:9080/teamworks/webservices/FGLIFE/MedicalDataEntryInvoke.tws"
        binding="basicHttpBinding" bindingConfiguration="MedicalDataEntryInvokeSoapSoapBinding"
        contract="LAMedicalEntryInvoke.MedicalDataEntryInvokePortType"
        name="MedicalDataEntryInvokeSoap" />
      <endpoint address="http://10.1.36.54:82/LifePDFService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService19" contract="LAConsentLetter.IService1"
        name="BasicHttpBinding_IService18" />
      <endpoint address="http://MUMHOIBPMDEV01.FGI.AD:9080/teamworks/webservices/FGLIFE/MedicalDataEntryInvoke.tws"
        binding="basicHttpBinding" bindingConfiguration="MedicalDataEntryInvokeSoapSoapBinding1"
        contract="LAMedicalEntryInvoke.MedicalDataEntryInvokePortType"
        name="MedicalDataEntryInvokeSoap1" />
      <endpoint address="http://mumhoiekyc01/FG.LF.WS.EKYCService.V2/eKYCService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IeKYCService"
        contract="Aadhar.IeKYCService" name="BasicHttpBinding_IeKYCService" />
      <endpoint address="https://ekyc.futuregenerali.in/FG.LF.WS.EKYCService.V2/eKYCService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IeKYCService"
        contract="Aadhar.IeKYCService" name="BasicHttpsBinding_IeKYCService" />
      <endpoint address="http://10.9.41.251:9081/TiffConverterService.asmx"
        binding="basicHttpBinding" bindingConfiguration="TiffConverterServiceSoap"
        contract="LAServiceTiffConversion.TiffConverterServiceSoap"
        name="TiffConverterServiceSoap" />
      <endpoint address="http://software.healthindiatpa.com/PIMS_API/HITPA_PIMS.svc/soap"
        binding="basicHttpBinding" bindingConfiguration="SOAPEndPoint"
        contract="TPARegisteration.IHITPA_PIMS" name="SOAPEndPoint" />
      <endpoint address="http://mumhoiauxlf01.fgi.ad:10004/FG.LF.TSARPPC/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService3"
        contract="LAMsarService.IService" name="BasicHttpBinding_IService3" />
      <endpoint address="http://10.1.41.196:10004/FG.LF.WS.Client_BankAccountEnquiry/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService17"
        contract="LABankEnquiry.IService" name="BasicHttpBinding_IService16" />
      <endpoint address="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_ContractCreation/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService7"
        contract="LAContractModService.IService" name="BasicHttpBinding_IService7" />
      <endpoint address="http://mumhoiauxlf01.fgi.ad:10004/FG.LF.WS.MandateService/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService16"
        contract="LAMandate.IService" name="BasicHttpBinding_IService15" />
      <endpoint address="http://auxfglife.futuregenerali.in:10004/FG.LF.WS.OFACService/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService110"
        contract="LAOfacService.IService1" name="BasicHttpBinding_IService19" />
      <endpoint address="http://10.8.41.39/CIBILScoreService/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService111"
        contract="CIBILSCORE.IService1" name="BasicHttpBinding_IService110" />
      <endpoint address="http://10.8.41.196:10004/WSLACombiBOs/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService20"
        contract="LACombi_DetachService.IService" name="BasicHttpBinding_IService20" />
      <endpoint address="http://10.8.41.196:4013/LifePremiumCalculator.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILifePremiumCalculator"
        contract="LAPremiumCalService.ILifePremiumCalculator" name="BasicHttpBinding_ILifePremiumCalculator" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
