<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UWSaralSchedulerTPA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="transactiondbLF" value="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=transactiondbLFTPA;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
    <!--<add key="transactiondbLF" value="Data Source=10.1.41.109;Initial Catalog=transactiondbLF;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>-->
    
  </appSettings>
  <system.net>
    <settings>
      <ipv6 enabled="true"/>
    </settings>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy bypassonlocal="True" proxyaddress="http://10.9.41.251:9081"/>
    </defaultProxy>
  </system.net>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TiffConverterServiceSoap" maxBufferPoolSize="99999999"
          maxBufferSize="99999999" maxReceivedMessageSize="99999999" />
        <binding name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding" />
        <binding name="BasicHttpBinding_DMSDocumentDownloadService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.8.41.39/TiffConvertsion/TiffConverterService.asmx"
        binding="basicHttpBinding" bindingConfiguration="TiffConverterServiceSoap"
        contract="LAServiceTiffConversion.TiffConverterServiceSoap"
        name="TiffConverterServiceSoap" />
      <endpoint address="http://10.1.41.193:9080/FG_SMSService_MMWeb/sca/FG_SMSService_WSExport"
        binding="basicHttpBinding" bindingConfiguration="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding"
        contract="esbSendSMSSvc.FGSMSServiceBPMIntf" name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpPort" />
      <endpoint address="http://10.8.41.39/DMSDocumentDownload/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DMSDocumentDownloadService"
        contract="DMSDownload.DMSDocumentDownloadService" name="BasicHttpBinding_DMSDocumentDownloadService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <UWSaralSchedulerTPA.Properties.Settings>
      <setting name="SourcePath" serializeAs="String">
        <value>\\10.1.42.35\uw_tp\PROD</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>AUX_FTP</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>password@1</value>
      </setting>
      <setting name="DestinationPath" serializeAs="String">
        <value>\\10.1.41.36\TiffUpload2\Upload2</value>
      </setting>
      <setting name="DocType" serializeAs="String">
        <value>Medical Requirement</value>
      </setting>
      <setting name="DMSDownloadPath" serializeAs="String">
        <value>\\10.1.42.35\uw_tp\PROD</value>
      </setting>
      <setting name="SystemName" serializeAs="String">
        <value>UWSaral</value>
      </setting>
    </UWSaralSchedulerTPA.Properties.Settings>
  </applicationSettings>
</configuration>