<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UWSaralSchedulerTPA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="transactiondbLF" value="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=transactiondbLF;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>-->
    <add key="transactiondbLF" value="Data Source=10.1.41.145;Initial Catalog=transactiondbLF;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
  </appSettings>  
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TiffConverterServiceSoap" maxBufferSize="99999999" maxBufferPoolSize="99999999" maxReceivedMessageSize="99999999"  />
              <binding name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding" />              
            </basicHttpBinding>
        </bindings>
        <client>
        <endpoint address="http://10.9.41.251:9081/TiffConverterService.asmx"
        binding="basicHttpBinding" bindingConfiguration="TiffConverterServiceSoap"
        contract="LAServiceTiffConversion.TiffConverterServiceSoap"
        name="TiffConverterServiceSoap" />
          <endpoint address="http://10.1.41.193:9080/FG_SMSService_MMWeb/sca/FG_SMSService_WSExport" 
          binding="basicHttpBinding" bindingConfiguration="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding" 
                    contract="esbSendSMSSvc.FGSMSServiceBPMIntf" name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpPort" />
        </client>
    </system.serviceModel>
  <applicationSettings>
    <UWSaralSchedulerTPA.Properties.Settings>
      <setting name="SourcePath" serializeAs="String">
        <value>\\10.1.42.35\uw_tp\UAT</value>
      </setting>
      <setting name="DestinationPath" serializeAs="String">
        <value>D:\shri\test</value>
      </setting>
    </UWSaralSchedulerTPA.Properties.Settings>
  </applicationSettings>
</configuration>