<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <!--<add key="TransactiondbLF" value="Data Source=10.1.41.109;Initial Catalog=transactiondbLFTPA;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />-->
    <add key="TransactiondbLF" value="Data Source=MUMHOIBPMSQLSRV.FGI.AD;Initial Catalog=transactiondbLF;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/> 
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" receiveTimeout="10:40:00" openTimeout="10:40:00" sendTimeout="10:40:00" closeTimeout="10:40:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"/>

        <binding name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding" receiveTimeout="10:40:00" openTimeout="10:40:00" sendTimeout="10:40:00" closeTimeout="10:40:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.8.41.39/CIBILScoreService/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="CIBILSCORE.IService1" name="BasicHttpBinding_IService1"/>
      <endpoint address="http://10.1.41.114:80/FG_SMSService_MMWeb/sca/FG_SMSService_WSExport" binding="basicHttpBinding" bindingConfiguration="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding" contract="esbSendSMSSvc.FGSMSServiceBPMIntf" name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpPort"/>
    </client>
  </system.serviceModel>
</configuration>
