<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <appSettings>
    <!--<add key="transactiondbLF" value="Data Source=10.1.41.109;Initial Catalog=transactiondbLF;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>-->
    <add key="transactiondbLF" value="Data Source=10.1.41.109;Initial Catalog=transactiondbLF;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r;Connect Timeout=2000"/>
    <!--<add key="AttachFilepath" value="D:\Projects\UWRiskScoreSched\UWRiskParameter4RM\AttachmentFORRisk4.docx"/>-->
    <add key="AttachFilepath" value="F:\Dharmesh\Pinwheel\Suraj\UWRiskScoreSched\AttachmentFORRisk4.docx"/>
    <add key="MailSetting" value="TRUE"/>
    <!--<add key="SenderEmailId" value="communications@futuregenerali.in"/>-->
    <add key="SenderEmailId" value="care@futuregenerali.in"/>
    <add key="ToEmailId" value="pinwheel2@futuregenerali.in,GunasekaranN@futuregenerali.in,Shabbirhusen.Kathewadi@futuregenerali.in,Amit.Chaudhary@futuregenerali.in"/>
    <!--<add key="CcEmailId" value="Mahesh.s@futuregenerali.in, Subhasish.Acharya@futuregenerali.in, Pawan.Mahajan@futuregenerali.in, Saritha.Mandada@futuregenerali.in, Amin.Meghani@futuregenerali.in, satish.nemane@futuregenerali.in, sandeep.honyalkar@futuregenerali.in"/>-->
    <!--<add key="CcEmailId" value="PINWHEEL2@futuregenerali.in,PINWHEEL3@futuregenerali.in"/>-->
    <add key="EmailSubject" value="TPA CASES MIS"/>
    <add key="SenderName" value="Future Generali Life Insurance Pvt. Ltd."/>
    <add key="MailServer" value="outlook.fgi.ad"/>
    <add key="MailServerPort" value="25"/>
    <add key="MailSMTPUserName" value=""/>
    <add key="MailSMTPPassword" value=""/>
    <!--<add key="BCCEmailAddress" value="pinwheel2@futuregenerali.in"/>-->
    <add key="Host" value="MUMHOIEXCAHT01.FGI.AD"/>
    <add key="Port" value="25"/>
  </appSettings>
</configuration>
