<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>lp1ZSMYnMEh7Cg/Vp04xaagfx9XhQyjWrdD3m2cOnjYZQNx1tIwkUXO7pUALt4OTB0VAQgedRli6zguZCFYAlLC3Puft3PyaBroDRBOx648LGDoY8GhwtxzIg0ttPSo4GVr9pnuPwv9hx/pToHSAlV7JH3yz1sbEKyApZUd+7hc=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>UzNZs0ppCbGZB7h4jAtr+PaBxM02Jo8f</CipherValue>
            </CipherData>
        </EncryptedData>
    </appSettings>
</configuration>