<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.7.1">
      <assemblies>
        <add assembly="DocumentFormat.OpenXml, Version=2.5.5631.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="TransactiondbLFRisk" connectionString="Data Source=MUMHOIBPMDB04;Initial Catalog=TransactiondbLFRisk;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
    <!--<add name="transactiondbLF" connectionString="Data Source=10.1.41.145;Initial Catalog=transactiondbLF;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r" />-->
    <add name="transactiondbLF" connectionString="Data Source=MUMHOIBPMDB04;Initial Catalog=transactiondbLF;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
    <add name="transactiondbLFTPA" connectionString="Data Source=MUMHOIBPMDB04;Initial Catalog=TransactiondbLFTPA;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
    <add name="Lombardimatersync" connectionString="Data Source=MUMHOIBPMDB04;Initial Catalog=Lombardimatersync;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
    <add name="replica" connectionString="Data Source=192.168.51.42;Initial Catalog=OnlineSales_REP;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
    <add name="FGLICRM" connectionString="Data Source=10.10.3.71,21443;Initial Catalog=FGLICRM;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
    <add name="LF_MOBILEConnectionString" connectionString="Data Source=10.10.3.71,21443;Initial Catalog=FGLIPlatform;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r"/>
    <!--<add name="transactiondbLFMembership" connectionString="Data source=MUMHOIBPMDB04; Initial Catalog=transactiondbLF; user id=adminsa; password=C0n+r01@r; Integrated Security=False" providerName="System.Data.SqlClient"/>-->
    <!--added by swapnil on 13 july 18 to add connectionString  for group underwriter dashboard & decision -->
    <!--<add name="groupFG" connectionString="Data source= 10.10.41.53\LIFE; Initial Catalog=FG_LF_GROUP_POLICY_UAT; user id=adminsa; password=C0n+r01@r; Integrated Security=False" providerName="System.Data.SqlClient"/>-->
    <add name="groupFG" connectionString="Data source=10.8.41.102; Initial Catalog=GROUP_POLICY_PRD; user id=Sqladmin; password=sqlsvc@123; Integrated Security=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>