<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService6"/>
        <binding name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://fgthntsrvuat02.fgi.ad:10002/FG.LF.WS.UnderwritingDecisionBO/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService6" contract="LAUwdecisionService.IService" name="BasicHttpBinding_IService6"/>
      <endpoint address="http://10.1.41.193:9080/FG_SMSService_MMWeb/sca/FG_SMSService_WSExport" binding="basicHttpBinding" bindingConfiguration="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpBinding" contract="esbSendSMSSvc.FGSMSServiceBPMIntf" name="FG_SMSService_WSExport_FGSMSServiceBPMIntfHttpPort"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
